ConsoleAppwcf/Connected Services/ServiceReferencewcf/WcfOrdenService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52347/WcfOrdenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceExp" />
  <xs:element name="RegistrarOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceExp" minOccurs="0" name="orden" nillable="true" type="q1:OrdenContrato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceExp" minOccurs="0" name="RegistrarOrdenResult" nillable="true" type="q2:RespuestaOrden" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>